.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

hops-gui/target/
**/*.rs.bk

*.log
*.sock
.hops/

.vscode/
.idea/
*.swp
*.swo
*~
