name = "ci"
version = "1.0.0"
description = "CI/CD environment with network access, isolated filesystem, automated testing resources"

[capabilities]
network = "outbound"
filesystem = ["read", "write", "execute"]
allowed_paths = [
    "/usr",
    "/usr/local",
    "/System/Library",
    "/Library/Frameworks",
    "/tmp",
    "/etc/ssl",
    "/etc/resolv.conf",
    "/private/etc/ssl",
    "/private/etc/resolv.conf"
]
denied_paths = [
    "/etc/shadow",
    "/etc/master.passwd",
    "/var/db/dslocal",
    "/private/var/db/dslocal",
    "/Users",
    "/System/Library/Security"
]

[capabilities.resource_limits]
cpus = 4
memory_bytes = 4294967296
max_processes = 256

[sandbox]
root_path = "/"
working_directory = "/ci"
hostname = "ci-sandbox"

[[sandbox.mounts]]
source = "/usr"
destination = "/usr"
type = "bind"
mode = "ro"

[[sandbox.mounts]]
source = "/System"
destination = "/System"
type = "bind"
mode = "ro"

[[sandbox.mounts]]
source = "/Library/Frameworks"
destination = "/Library/Frameworks"
type = "bind"
mode = "ro"

[[sandbox.mounts]]
source = "/usr/local"
destination = "/usr/local"
type = "bind"
mode = "ro"

[[sandbox.mounts]]
source = "tmpfs"
destination = "/tmp"
type = "tmpfs"
mode = "rw"

[[sandbox.mounts]]
source = "tmpfs"
destination = "/ci"
type = "tmpfs"
mode = "rw"

[[sandbox.mounts]]
source = "/etc/ssl"
destination = "/etc/ssl"
type = "bind"
mode = "ro"

[sandbox.environment]
PATH = "/usr/local/bin:/usr/bin:/bin"
CI = "true"
TMPDIR = "/tmp"
HOME = "/ci"
