<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.hops.daemon</string>
	
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/hopsd</string>
		<string>--socket</string>
		<string>$HOME/.hops/hops.sock</string>
	</array>
	
	<key>RunAtLoad</key>
	<false/>
	
	<key>KeepAlive</key>
	<true/>
	
	<key>StandardOutPath</key>
	<string>$HOME/.hops/logs/hopsd.log</string>
	
	<key>StandardErrorPath</key>
	<string>$HOME/.hops/logs/hopsd.error.log</string>
	
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOPS_CONFIG_DIR</key>
		<string>$HOME/.hops</string>
		<key>HOME</key>
		<string>$HOME</string>
	</dict>
	
	<key>ThrottleInterval</key>
	<integer>10</integer>
	
	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
